* {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #0092FF;
    color: black;
    height: 200px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header img {
    width: 300px;
    height: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    background-color: darkred;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav-div-1, #nav-div-2, #nav-div-3 {
    flex: 1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside {
    flex: 1;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    flex: 2;
    
}